<%- include('partials/header.ejs') %>

    <!-- Hero -->

    <div class="container my-5">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg hero">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 lh-1 text-body-emphasis">Mindus: Navigating Knowledge Through Notes</h1>
          <p class="lead">The streamlines note-taking for readers, offering a personalized library with detailed notes and ratings. It's a tool for efficient knowledge organization and intellectual growth.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a type="button" href="/add" class="btn colorbtn btn-outline-secondary rounded-5 btn-lg px-4 me-md-2 fw-bold">New Entry</a>
            <a type="button" href="/view" class="btn btn-outline-secondary rounded-5 btn-lg px-4">View</a>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/images/mindus-hero.jpeg" alt="Mindus-hero" width="520">
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
